table(style='width:100%', border='1')
  tr
    th First Name
    th Last Name
    th Email
    th Phone Number
    th How can we help?			
  tr
    td #{first_name}
    td #{last_name}
    td #{email}
    td #{phone}
    td #{comment}